/*
Code to make everything wiggle and animate on hover:
*/
body {
    background-color: #000000;
}

#test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#test:hover {
    animation: wiggle 1s;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(5deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}