/*
Code to make everything wiggle and animate on hover. Also make the text blue and the background red.
*/
#test {
    color: blue;
    background-color: red;
    animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}