/* Themes */
html[theme="dark"] {
    --primary-color: #222323;
    --secondary-color: #f0f6f0;
}

html[theme="light"] {
    --primary-color: #f0f6f0;
    --secondary-color: #222323;
}

* {
    transition: all 0.25s;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

.sidebar button {
    width: 75%;
    height: 2.5ch;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: xx-large;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar button:hover {
    cursor: pointer;
    transform-origin: left;
    transform: scale(120%);
    font-weight: bold;
}

pre {
    color: var(--secondary-color);
    transition: none;
    white-space: pre-wrap;
}

.sidebar pre.active {
    visibility: visible;
}

.sidebar pre:not(.active) {
    visibility: hidden;
}

.blinker {
    display: inline-block;
    height: 1rem;
    position: absolute;
    border-left: 10px solid var(--secondary-color);
    animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}

/* GRID */
.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    --min: 15ch;
    --gap: 1rem;
    display: grid;
    grid-template-columns: minmax(20ch, 20ch) repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-area: 1 / 2;
}

.hero pre {
    margin: 2rem;
}