/* Themes */
html[theme="dark"] {
    --primary-color: #222323;
    --secondary-color: #f0f6f0;
}

html[theme="light"] {
    --primary-color: #f0f6f0;
    --secondary-color: #222323;
}

* {
    transition: all 0.25s;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: pre-wrap;
}

body {
    margin-left: 0;
    background-color: var(--primary-color);
}

.sidebar button {
    width: 75%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: xx-large;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar button:hover {
    cursor: pointer;
    transform-origin: left;
    transform: scale(120%);
    font-weight: bold;
}

pre {
    color: var(--secondary-color);
    transition: none;
    white-space: pre-wrap;
}

.sidebar pre.active {
    visibility: visible;
}

.sidebar pre:not(.active) {
    visibility: hidden;
}

.blinker {
    display: inline-block;
    height: 1rem;
    border-left: 10px solid var(--secondary-color);
    animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}

/* GRID */
.grid {
    --min: 15ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
    in extra narrow spaces */
    grid-template-columns: minmax(20ch, 20ch) repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.hero {
    border: 5px solid var(--secondary-color);
    display: grid;
    overflow: hidden;
}

.sidebar {
    /*border: 5px solid var(--secondary-color);*/
    grid-gap: 0.5rem;
    display: grid;
    grid-column: 1;
}