/* Themes & Vars  */
:root {
    --font-size: calc(80% + 0.5vmin);
}

/*SVG Filters made using https://codepen.io/sosuke/pen/Pjoqqp*/
[theme="dark"] {
    --primary-color: #222323;
    --secondary-color: #f0f6f0;
    --svg-primary-filter: invert(8%) sepia(7%) saturate(198%) hue-rotate(131deg) brightness(107%) contrast(87%);
    --svg-secondary-filter: invert(93%) sepia(4%) saturate(378%) hue-rotate(71deg) brightness(107%) contrast(93%);
}

[theme="light"] {
    --primary-color: #f0f6f0;
    --secondary-color: #222323;
    --svg-primary-filter: invert(93%) sepia(4%) saturate(378%) hue-rotate(71deg) brightness(107%) contrast(93%);
    --svg-secondary-filter: invert(8%) sepia(7%) saturate(198%) hue-rotate(131deg) brightness(107%) contrast(87%);
}

/* Global Setup */
* {
    transition: all 0.25s;
    font-family: 'Ubuntu Mono', monospace;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

body {
    background-color: var(--primary-color);
}

pre {
    color: var(--secondary-color);
    transition: none;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

button:hover,
button.active {
    cursor: pointer;
    font-weight: bold;
}

/* Sidebar Buttons */
.sidebar button {
    width: 8ch;
    height: 2.5ch;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: calc(2*var(--font-size));
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar button:hover {
    width: 10ch;
}

.sidebar button.active {
    width: 9ch
}

/* Settingsbar Buttons */
.settingsbar button {
    width: 5ch;
    height: 5ch;
    background-color: transparent;
    filter: var(--svg-secondary-filter);
}

.settingsbar button>* {
    width: 100%;
    height: 100%;
}

/* Blinker */
.blinker {
    display: inline-block;
    height: 2ch;
    position: absolute;
    border-left: 1ch solid var(--secondary-color);
    animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}

/* Grid Layout */
.grid {
    display: grid;
    position: fixed;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 1rem), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(100%, 1rem), 1fr));
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    z-index: 1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;
    margin: 15%;
}

.settingsbar {
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    z-index: 1;
}