@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    color: black;
    background-color: white;
}

/* Blinker for terminal text */
.blinker {
    margin-bottom: -2px;
    height: 15px;
    margin-left: -1px;
    border-left: 10px solid #c1c1d2;
    animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}