@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

canvas {
    filter: blur(1px) contrast(1.5);
}

html {
    height: 100%;
}

.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
    transform: rotate(-10deg);
}

@keyframes drop {
    0% {
        transform: translateY(0vh) translateX(0vw);
    }

    75% {
        transform: translateY(90vh) translateX(10vw);
    }

    100% {
        transform: translateY(90vh) translateX(10vw);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    animation: stem 0.5s linear infinite;
    transform: rotate(-10deg);
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}